
.main-container {
  width: 100%;
  background-color: #04060b; 
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 15px 20px;
}

/* Navbar list */
.list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

/* Navbar links */
.list li a {
  text-decoration: none;
  color: #0dd4d7;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* Hover effect */
.list li a:hover {
  color: #0be95c; /* green */
  border-bottom: 2px solid #4f9769;
  padding-bottom: 4px;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .list {
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}







/* hero section */
  /* HOME / HERO SECTION */

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #061423;
}

.home-container {
  max-width: 900px;
  padding: 20px;
  text-align: center;
}

.home h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #07eaf2;
}

.home h1 span {
  color: #56c17f;
}

.home h2 {
  font-size: 25px;
  font-weight: 500;
  color: #eceef2;
  margin-bottom: 20px;
}

.home p {
  font-size: 20px;
  font-weight: 350;
  color: #edf1f5;
  margin-bottom: 30px;
}

/* Buttons */

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
}

.btn.primary {
  background-color: #22c55e;
  color: white;
}

.btn.primary:hover {
  background-color: #16a34a;
}

.btn.secondary {
  border: 2px solid #22c55e;
  color: #22c55e;
}

.btn.secondary:hover {
  background-color: #22c55e;
  color: white;
}


.profile-img {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.profile-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #03c2fc;
  box-shadow: 0 10px 25px rgba(236, 11, 11, 0.15);
}



/* ABOUT SECTION */

.about {
  padding: 80px 20px;
  /* background-color: #ffffff; */
    background-color: #081727;
}

.about-container {
  max-width: 1000px;
  margin: auto;
}

.section-title {
  font-size: 38px;
  text-align: center;
  margin-bottom: 30px;
  /* color: #0f172a; */
  color: rgb(245, 56, 56);
}

.about-intro {
  font-size: 18px;
  margin-bottom: 15px;
}

.about p {
  font-size: 16px;
  /* color: #334155; */
  color: white;
  margin-bottom: 15px;
  line-height: 1.7;
}

.about-details {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.about-details h3 {
  color: #d9f907;
  margin-bottom: 10px;
}

.about-details ul {
  padding-left: 20px;
}

.about-details ul li {
  margin-bottom: 12px;
  font-size: 15px;
}

.about-details span {
  font-size: 14px;
  /* color: #64748b; */
   color: white;
}
li{
   color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .about-details {
    grid-template-columns: 1fr;
  }

  .section-title {
    font-size: 28px;
  }
}




/* SKILLS SECTION */

.skills {
  padding: 80px 20px;
  /* background-color: #f9fafb; */
  background-color: #031122;
}

.skills-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.skills h2 {
  font-size: 36px;
  margin-bottom: 40px;
  /* color: #0f172a; */
  color: rgb(12, 236, 195);
}

/* GRID LAYOUT */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Skill Card */

.skills-grid {
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 24px;
}

.skill-box {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 24px;
  border-radius: 14px;
  transition: 0.3s;
}
.skill-box:hover {
  transform: translateY(-6px);
  border-color: #38bdf8;
}

.skill-box h3 {
  margin-bottom: 12px;
  color: #38bdf8;
  font-size: 20px;
}

.skill-box ul {
  list-style: none;
  padding: 0;
}

.skill-box ul li {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 8px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}



/* CONTACT SECTION */

.contact {
  padding: 80px 20px;
  /* background-color: #ffffff; */
  background-color: #030d17;
}

.contact-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 10px;
  /* color: #0f172a; */
  color: rgb(240, 8, 8);
}

.contact-text {
  font-size: 16px;
  /* color: #475569; */
  color: white;
  margin-bottom: 40px;
}

/* Contact Box */
.contact-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

/* Contact Info */
.contact-info {
  text-align: left;
  font-size: 16px;
  /* color: #334155; */
  color: white;
}
.contact-info strong{
  color: #07a2ef;
  font-size: 17px;
}
.contact-info p {
  margin-bottom: 14px;
}

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #cbd5f5;
  font-size: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #0d4fc1;
}

.contact-form button {
  background-color: #0754ee;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #154784;
}
strong{
  color: #22c55e;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-box {
    grid-template-columns: 1fr;
  }

  .contact-info {
    text-align: center;
  }
}
